body{
    font-size: 15px;
}
.scroll{
    height: 500px;
    overflow: scroll;
}
.scroll_product{
    height: 1000px;
    overflow: scroll;
}
.rate-star {
    width: 110px;
    height: 20px;
    display: inline-block;
    background: url(//static.scdn.vn/images/ecom/ic-sprites.png) no-repeat -56px -486px;
    position: relative;
}
.rate-star .rated-star {
    background: url(//static.scdn.vn/images/ecom/ic-sprites.png) no-repeat -175px -486px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.sale{
    border:1px solid blue; 
    padding: 20px; 
    border-radius: 3px; 
    margin:20px;
    color:blue;
}
.avatar{
    border-radius: 5px;
}
